.gitlab
.gitlab-ci.yml
.idea
.vscode
.devcontainer
**/.nuxt
**/.output
.pnpm-store
**/node_modules
**/dist
**/build
**/Dockerfile
**/Dockerfile.dev
**/.dockerignore
**/images
docker
tools
backups-files
