workflow:
  rules:
    - if: '$CI_COMMIT_REF_NAME == "main"'
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
    - if: '$CI_COMMIT_TAG =~ /^v[0-9]+\.[0-9]+\.[0-9]+$/'

stages:
  - install
  - check
  - build
  - test
  - docker-build
  - docker-scan
  - docker-publish
  - deploy
  - release

variables:
  RELEASE:
    value: "true"
    description: "Environment variable key flag to create a new release"

include:
  - local: /.gitlab/ci/setup-pnpm.gitlab-ci.yml
  - template: Security/SAST.gitlab-ci.yml
  - template: Security/Secret-Detection.gitlab-ci.yml
  - template: Security/Container-Scanning.gitlab-ci.yml
  - template: Security/Dependency-Scanning.gitlab-ci.yml
  - local: /.gitlab/ci/install.gitlab-ci.yml
  - local: /.gitlab/ci/check.gitlab-ci.yml
  - local: /.gitlab/ci/build.gitlab-ci.yml
  - local: /.gitlab/ci/test.gitlab-ci.yml
  - local: /.gitlab/ci/docker-build-base.gitlab-ci.yml
  - local: /.gitlab/ci/docker-build-api.gitlab-ci.yml
  - local: /.gitlab/ci/docker-build-web.gitlab-ci.yml
  - local: /.gitlab/ci/docker-scan.gitlab-ci.yml
  - local: /.gitlab/ci/docker-publish.gitlab-ci.yml
  - local: /.gitlab/ci/deploy.gitlab-ci.yml
  - local: /.gitlab/ci/release.gitlab-ci.yml
