workflow:
  rules:
    - if: '$CI_COMMIT_REF_NAME == "main"'
      variables:
        BASE_URL: $BASE_URL_PROD
        USERNAME: $USERNAME_PROD
        PASSWORD: $PASSWORD_PROD
    - if: '$CI_COMMIT_REF_NAME == "pre-prod"'
      variables:
        BASE_URL: $BASE_URL_PREPROD
        USERNAME: $USERNAME_PREPROD
        PASSWORD: $PASSWORD_PREPROD

stages:
  - triage
  - clean-up-pipelines
  - test
  - docker
  - docker-scan
  - configurator

include:
  - template: 'Workflows/Branch-Pipelines.gitlab-ci.yml'
  - local: /.gitlab/ci/triage.gitlab-ci.yml
  - local: /.gitlab/ci/clean_up_pipelines.gitlab-ci.yml
  - template: Security/SAST.gitlab-ci.yml
  - template: Security/Secret-Detection.gitlab-ci.yml
  - template: Security/License-Scanning.gitlab-ci.yml
  - local: /.gitlab/ci/security_rules.gitlab-ci.yml
  - local: /.gitlab/ci/frontend_containerize.gitlab-ci.yml
  - local: /.gitlab/ci/backend_containerize.gitlab-ci.yml
  - local: /.gitlab/ci/configurator.gitlab-ci.yml
  - template: Security/Container-Scanning.gitlab-ci.yml
  - local: /.gitlab/ci/container_scan.gitlab-ci.yml
