<table style="text-align: center">
  <h1 style="text-align: center; font-size: 1.4rem">Bonsoir <%= firstname %> !! 🎇</h1>

  <p style="text-align: center">Suite à ton inscription et au remplissage de tes disponibilités sur notre site, on a une superbe nouvelle à t'annoncer !</p>

  <p style="text-align: center; font-size: 1.4rem; font-weight: bold;">✨C'est avec plaizzzir que nous t'accueillons dans la team pour cette 51ème édition, les 22, 23 et 24 mai 2026 ✨</p>

  <p>Tu peux maintenant voir que ton profil Overbookd <u style="color: green; font-weight: bold;">a été validé</u> !✨🕺</p>

  <p>Voilà ce qu'il va se passer par la suite :</p>
  <ul>
    <li>
      L'organisation du festival s'accélère ! Maintenant, c'est à nous de jouer pour faire les <u style="font-weight: bold">plannings bénévoles</u>.
      En attendant, tu peux évidemment toujours <u style="font-weight: bold">rajouter des disponibilités</u> (ce qui nous rendrait encore plus heureux·se).
    </li>
    <li>N'hésite pas à nous tenir au courant dans l'espace <u style="font-weight: bold">commentaire</u> d'une éventuelle précision ou à nous envoyer un <strong>mail</strong> si besoin (<a href="mailto:benevoles@24heures.org">benevoles@24heures.org</a>).</li>
    <li>N'oublie pas de <u style="font-weight: bold">rajouter tes ami·e·s</u> pour pouvoir faire des missions avec elleux ! Vous les trouverez sur Overbookd une fois qu'iels auront aussi créé leur compte !</li>
    <li>Pense à indiquer sur Overbookd si tu souhaites avoir un <strong>planning papier</strong> ou si la <strong>version numérique</strong> te suffit (comme ça moins d'utilisation de papier !).</li>
    <li>Les plannings seront terminés début mai, avant le briefing bénévole.</li>
  </ul>

  <p>Save the date pour le <span style="font-size: 1.4rem; margin-top: 10px;">briefing bénévole</span> :</p>
  <h2 style="text-align: center; font-family: sans-serif">Lundi 18 mai à 18H en amphi Gaston Berger<br/>(sur le campus de la Doua, à Villeurbanne)</h2>

  <p>
    C'est souvent la première tâche sur laquelle tu es requis·e en tant que bénévole, tu dois être présent·e lors de ce brief !
    C'est à ce moment-là que tu recevras le <strong>starter-pack bénévole</strong> et les informations importantes.
    <br/>
    On t'as déjà mis les disponibilités, tu auras forcément ce créneau affecté ! Si jamais tu ne peux pas être en présentiel, on t'enverra le lien de la visio par mail.
  </p>

  <p>On reste disponible si besoin,</p>

  <p style="text-align: center">BIENVENUE DANS LA TEAM ! ❤️</p>

  <p>La bise,</p>
  <p>
    PS : On te rappelle qu'en tant que bénévole, ta place est offerte !
    Si tu avais déjà acheté un billet, tu peux toujours le revendre sur l'application Shotgun.
    </br>
    PS bis : Si tu as envie de donner encore plus de ton temps pour nous aider, n'hésite pas à cocher la case "JE VEUX UN MAX DE CRÉNEAUX !" sur ton profil Overbookd ! 🔥
  </p>

  <p>-----------------------------------------------------------------</p>

  <div style="float:left; margin: 2px 5px 5px 0; padding-right: 5px;" id="photoWrapper">
    <img src="https://github.com/24HeuresINSA/website24maker/blob/master/public/images/logos/logo_24h_generique_couleur_sf.png?raw=true" alt="Logo du Club des 24 heures de l'INSA" width="65px" height="65px" id="sigPhoto">
  </div>
  <div style="margin-top: 0; margin-left: 74px;" id="sigDetailsWrapper">
    <p style="font-family: Helvetica, sans-serif; font-size: 12px; line-height: 14px; color: #333; margin-top:0; margin-left:0; padding-left:0;">
      <strong>Jade, Margot et Guillaume</strong>
      <br>
      <u>Responsables Bénévoles du Festival des 24h de l'INSA</u>
    </p>
    <p style="font-family: Helvetica, sans-serif; font-size: 12px; line-height: 14px; color: rgb(51, 51, 51); margin-top: 0px;" id="sigCompanyWrapper">
      <strong>
        <span id="sigCompany">Club des 24 heures de l'INSA</span>
      </strong>
      <br>
      <span>
        <a href="www.24heures.org" id="sigWebsite" style="color:#428BCA;" rel="nofollow">www.24heures.org</a>
      </span>
      <br>
      <span id="sigAddress" style="font-size: 10px; line-height: 14px; margin: 5px 0; display:block; opacity:0.8;">20, avenue Albert Einstein 69621 Villeurbanne Cedex</span>
      <span id="sigAddress" style="font-size: 10px; line-height: 14px; margin: 5px 0; display:block; opacity:0.8;"><a href="tel:+330472437000">04 72 43 70 00</a></span>
    </p>
    <p style="font-family: Helvetica, sans-serif; font-size: 12px; line-height: 14px; color: #333;">
      <span id="facebookIcon" style="display: inline;">
        <a href="https://www.facebook.com/24heuresinsa/">
          <img src="https://s3.amazonaws.com/rkjha/signature-maker/icons/facebook_circle_color-20.png" alt="Logo Facebook" width="20px" height="20px"></a>
      </span>
      <span id="instagramIcon" style="display: inline;">
        <a href="https://www.instagram.com/24heuresinsa/">
          <img src="https://s3.amazonaws.com/rkjha/signature-maker/icons/instagram_circle_color-20.png" alt="Logo Instagram" width="20px" height="20px"></a>
      </span>
      <span id="youtubeIcon" style="display: inline;">
        <a href="https://www.youtube.com/channel/UC9Zbc7wBMv2nro0hazcVMFw">
          <img src="https://s3.amazonaws.com/rkjha/signature-maker/icons/youtube_circle_color-20.png" alt="Logo Youtube" width="20px" height="20px"></a>
      </span>
      <span id="linkedinIcon" style="display: inline;">
        <a href="https://www.linkedin.com/company/24h-de-l-insa/mycompany/">
          <img src="https://s3.amazonaws.com/rkjha/signature-maker/icons/linkedin_circle_color-20.png" alt="Logo LinkedIn" width="20px" height="20px"></a>
      </span>
      <span id="twitterIcon" style="display: inline;">
        <a href="https://twitter.com/24heuresinsa">
          <img src="https://s3.amazonaws.com/rkjha/signature-maker/icons/twitter_circle_color-20.png" alt="Logo Twitter" width="20px" height="20px"></a>
      </span>
      <br>
    </p>
  </div>
</table>
