<table style="text-align: center">
  <h1>Bienvenue sur Overbookd</h1>
  <p>
    Félicitations <%= firstname %>, ton inscription sur Overbookd est complète !
    <br />
    <strong>CEPENDANT!</strong> Il faut encore que ton compte soit validé.
  </p>
  <h2>Connexion</h2>
  <p>
    Tu peux tout de même te connecter à Overbookd avec ton email comme
    identifiant:
    <br />
    <%= email %>
  </p>
  <a
    id="link-button"
    href="<%= loginLink %>"
    style="
      background-color: green;
      padding: 1rem 1rem 1rem 1rem;
      border-radius: 0.5rem;
      color: white;
      text-decoration: none;
      display: inline-block;
      margin: 1rem;
    "
  >
    Connexion à Overbookd
  </a>
  <p>Si le lien ne marche pas, va a cette adresse : <%= loginLink %></p>
  <p>
    Si tu as la moindre question, tu peux
    <a href="mailto:sg@24heures.org">contacter le secrétaire général</a>
  </p>
  <p>
    Merci pour ton investissement ! <br />
    La Team OB
  </p>
</table>
