<table style="text-align: center">
  <h1>Bienvenue sur Overbookd</h1>
  <p>
    Félicitations <%= firstname %>, ton inscription sur Overbookd est complète !
    <br />
    <strong>CEPENDANT!</strong> Il faut encore que ton compte soit validé.
  </p>
  <h2>Quelle com t'intéresse le plus ?</h2>
  <p>
    En attendant la validation manuelle de ton compte, tu peux
    <a
      href="https://framaforms.org/abc/fr"
      style="font-weight: 700; font-size: 1.2rem"
    >
      remplir ce questionnaire pour nous dire dans quelle équipe tu aimerais te
      retrouver.
    </a>
  </p>
  <p>
    Si le lien ne marche pas, tu peux
    <a href="mailto:sg@24heures.org">contacter le secrétaire général</a>
  </p>

  <h2>Connexion</h2>
  <p>
    Tu peux tout de même te connecter à Overbookd avec ton email comme
    identifiant:
    <br />
    <%= email %>
  </p>
  <a
    id="link-button"
    href="<%= loginLink %>"
    style="
      background-color: green;
      padding: 1rem 1rem 1rem 1rem;
      border-radius: 0.5rem;
      color: white;
      text-decoration: none;
      display: inline-block;
      margin: 1rem;
    "
  >
    Connexion à Overbookd
  </a>
  <p>Si le lien ne marche pas, va a cette adresse : <%= loginLink %></p>

  <p>
    Merci pour ton investissement ! <br />
    La Team OB
  </p>
</table>
