@mixin background-color-by-status() {

  &.validated,
  &.approved {
    background-color: $validated-color;
    color: white;
  }

  &.submitted,
  &.in_review {
    background-color: $submitted-color;
    color: black;
  }

  &.refused,
  &.rejected {
    background-color: $refused-color;
    color: white;
  }

  &.draft {
    background-color: $draft-color;
    color: white;
  }

  &.ready {
    background-color: $ready-color;
    color: white;
  }
}

.fa,
.ft {
  .v-card {

    &.validated,
    &.approved {
      border-left: 5px solid $validated-color;
    }

    &.submitted,
    &.in_review {
      border-left: 5px solid $submitted-color;
    }

    &.refused,
    &.rejected {
      border-left: 5px solid $refused-color;
    }

    &.draft {
      border-left: 5px solid $draft-color;
    }
  }

  .v-icon {

    &.validated,
    &.approved {
      color: $validated-color;
    }

    &.refused,
    &.rejected {
      color: $refused-color;
    }

    &.draft,
    &.submitted,
    &.in_review {
      color: $draft-color;
    }
  }

  #status,
  #validators {

    .v-chip,
    #dot {
      @include background-color-by-status();
    }
  }
}

.ft {
  #user-requests {
    .v-chip {
      &.also-requested-by-ft {
        background-color: $conflict-also-requested-by-ft-color;
        color: white;

        .v-icon {
          color: white;
        }

        &.v-chip--clickable:hover {
          background-color: darken($color: $conflict-also-requested-by-ft-color,
              $amount: 5%);
        }
      }

      &.not-available {
        background-color: $conflict-not-available-for-ft-color;
        color: black;

        .v-icon {
          color: black;
        }

        &.v-chip--clickable:hover {
          background-color: darken($color: $conflict-not-available-for-ft-color,
              $amount: 5%);
        }
      }

      &.already-assigned {
        background-color: $conflict-already-assigned;
        color: white;

        .v-icon {
          color: white;
        }

        &.v-chip--clickable:hover {
          background-color: darken($color: $conflict-already-assigned,
              $amount: 5%);
        }
      }
    }
  }
}

.stats-card {
  @include background-color-by-status();
}

.important {
  color: red !important;
  font-weight: bold;
}

.row-pointer:hover {
  cursor: pointer;
}

.shift {
  height: 5px;
  position: absolute;
  left: -1px;
  right: 0;
  pointer-events: none;

  &.theme--dark {
    &.shift-night {
      background-color: beige;
    }
  }

  &-party {
    background-color: purple;
  }

  &-night {
    background-color: black;
  }

  &-day {
    background-color: darksalmon;
  }
}
