.fa, .ft {
  .v-card {
    &.validated {
      border-left: 5px solid $validated-color;
    }
    &.submitted {
      border-left: 5px solid $submitted-color;
    }
    &.refused {
      border-left: 5px solid $refused-color;
    }
    &.draft { 
      border-left: 5px solid $draft-color;
    }
  }

  .v-icon {
    &.validated {
      color: $validated-color;
    }
    &.refused {
      color: $refused-color;
    }
    &.draft, &.submitted {
      color: $draft-color;
    }
  }
}

.bg-validated {
  background-color: $validated-color;
}
.bg-submitted {
  background-color: $submitted-color;
}
.bg-refused {
  background-color: $refused-color;
}
.bg-draft { 
  background-color: $draft-color;
}


  

.important {
  color: red !important;
  font-weight: bold;
}

.row-pointer:hover {
  cursor: pointer;
}