@mixin background-color-by-status() {
  &.validated {
    background-color: $validated-color;
  }
  &.submitted {
    background-color: $submitted-color;
  }
  &.refused {
    background-color: $refused-color;
  }
  &.draft { 
    background-color: $draft-color;
  }
}


.fa, .ft {
  .v-card {
    &.validated {
      border-left: 5px solid $validated-color;
    }
    &.submitted {
      border-left: 5px solid $submitted-color;
    }
    &.refused {
      border-left: 5px solid $refused-color;
    }
    &.draft { 
      border-left: 5px solid $draft-color;
    }
  }

  .v-icon {
    &.validated {
      color: $validated-color;
    }
    &.refused {
      color: $refused-color;
    }
    &.draft, &.submitted {
      color: $draft-color;
    }
  }

  .dot {
    @include background-color-by-status();
  }
}

.stats-card {
  @include background-color-by-status();
}


  

.important {
  color: red !important;
  font-weight: bold;
}

.row-pointer:hover {
  cursor: pointer;
}