// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

$warning-primary: rgb(251, 140, 0);
$warning-secondary: rgb(251, 140, 0, 0.1);

$info-primary: rgb(33, 150, 243);
$info-secondary: rgb(33, 150, 243, 0.1);
