// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

$warning-primary: rgb(251, 140, 0);
$warning-secondary: rgb(251, 140, 0, 0.1);

$info-primary: rgb(33, 150, 243);
$info-secondary: rgb(33, 150, 243, 0.1);

$draft-color: grey;
$submitted-color: orange;
$refused-color: red;
$validated-color: green;
$ready-color: rgb(103, 58, 183);

$conflict-also-requested-by-ft-color: red;
$conflict-not-available-for-ft-color: orange;
