// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

.fab-right{
  position: absolute;
  right: 10px;
  bottom: 10px;
}

/*
.green-border {
  border-left: 5px solid green;
}
.orange-border {
  border-left: 5px solid orange;
}
.red-border {
  border-left: 5px solid red;
}
*/

.v-card {
  &.VALIDATED {
    border-left: 5px solid green;
  }
  &.SUBMITTED {
    border-left: 5px solid orange;
  }
  &.REFUSED {
    border-left: 5px solid red;
  }
  &.DRAFT { 
    border-left: 5px solid grey;
  }
}
