* @aprouvost @DamienCarreau @Azmah-Bad @HugoCo @Spycro @LeoMouyna @Tayaress09 @mms01 @AntoinePRN @M0UL3 @wo0lien @Debrej @titouan-joseph


# .gitlab

/.gitlab/* @titouan-joseph @LeoMouyna
/.gitlab/triage_policies @titouan-joseph
/.gitlab/triage_policies/rules @titouan-joseph
/.gitlab/triage_policies/rules/ @titouan-joseph


# tools

backups-files @titouan-joseph
backups-files/ @titouan-joseph

tools @titouan-joseph @LeoMouyna @DamienCarreau
tools/ @titouan-joseph @LeoMouyna @DamienCarreau
tools/moveIssues.py @titouan-joseph
tools/migrateUsers.py @titouan-joseph
tools/adding-fa_ft-validators.py @titouan-joseph
tools/catalog @LeoMouyna
tools/catalog/ @LeoMouyna
tools/teamUpdate @DamienCarreau
tools/teamUpdate/ @DamienCarreau


# Docker

backend/Dockerfile.dev @titouan-joseph @wo0lien @LeoMouyna
backend/Dockerfile @titouan-joseph @wo0lien @LeoMouyna
frontend/Dockerfile.dev @titouan-joseph @wo0lien @LeoMouyna
frontend/Dockerfile @titouan-joseph @wo0lien @LeoMouyna
docker @titouan-joseph
docker/ @titouan-joseph


# backend

backend/src/catalog @aprouvost @LeoMouyna
backend/src/catalog/ @aprouvost @LeoMouyna
backend/src/configuration/ @Spycro
backend/src/configuration @Spycro
backend/src/fa_site_publish_animation/ @titouan-joseph
backend/src/fa_site_publish_animation @titouan-joseph
backend/src/mail/ @titouan-joseph
backend/src/mail @titouan-joseph
backend/src/collaborator/ @AntoinePRN
backend/src/collaborator @AntoinePRN
backend/src/fa/ @AntoinePRN
backend/src/fa @AntoinePRN
backend/src/fa_comment/ @AntoinePRN
backend/src/fa_comment @AntoinePRN
backend/src/fa_electricity_needs/ @AntoinePRN
backend/src/fa_electricity_needs @AntoinePRN
backend/src/fa_signa_needs/ @AntoinePRN
backend/src/fa_signa_needs @AntoinePRN
backend/src/team/ @DamienCarreau
backend/src/team @DamienCarreau

# frontend

frontend/pages/comcom.vue @titouan-joseph
frontend/pages/catalog.vue @LeoMouyna
frontend/pages/trombinoscope.vue @Azmah-Bad
frontend/pages/login.vue @Azmah-Bad
frontend/pages/humans.vue @Azmah-Bad
frontend/pages/forgot.vue @wo0lien
frontend/pages/reset/_token.vue @wo0lien

