@use "~/assets/variables.scss" as *;

.payment-form {
  display: flex;
  align-items: center;
  gap: 10px;

  @media screen and (max-width: $mobile-max-width) {
    flex-direction: column;
    gap: 5px;
    margin-bottom: 5px;

    &__input,
    &__button {
      width: 100%;
    }
  }
}
