.build:
  stage: build
  extends: .setup-pnpm
  interruptible: true
  image: node:20.11.0-alpine
  script:
    - pnpm i --filter "${PNPM_WORKSPACE}..."
    - pnpm run --filter "${PNPM_WORKSPACE}..." build:ci

overbookd/api_build:
  extends: .build
  image: node:20.11.0-alpine
  needs: [install]
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      changes:
        - apps/api/**/*
        - pnpm-lock.yaml
    - when: never
  variables:
    PNPM_WORKSPACE: "@overbookd/api"

overbookd/web_build:
  extends: .build
  needs: [install]
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      changes:
        - apps/web/**/*
        - pnpm-lock.yaml
    - when: never
  variables:
    PNPM_WORKSPACE: "@overbookd/web"

overbookd/libraries_build:
  extends: .build
  needs: [install]
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      changes:
        - libraries/**/*
        - pnpm-lock.yaml
    - when: never
  variables:
    PNPM_WORKSPACE: "{libraries/**}"

overbookd/domains_build:
  extends: .build
  needs: [install]
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      changes:
        - domains/**/*
        - pnpm-lock.yaml
    - when: never
  variables:
    PNPM_WORKSPACE: "{domains/**}"
