.docker-publish:
  stage: docker-publish
  interruptible: true
  image: docker:25.0.3
  services:
    - name: docker:25.0.3
      command: ["--experimental"]
  before_script:
    - apk update
    - apk add jq
    - VERSION_TAG=${VERSION_TAG_PREFIX}$(jq -r '.version' ./${APP_PATH}/package.json)
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
    - docker load -i ${BASE_IMAGE}.tar
    - docker push $CI_REGISTRY_IMAGE/$APP_NAME:$TAG
    - docker push $CI_REGISTRY_IMAGE/$APP_NAME:$VERSION_TAG

preprod_overbookd-api_publish:
  extends: .docker-publish
  rules:
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
      when: never
    - if: '$CI_PIPELINE_SOURCE == "web" && $RELEASE'
      when: never
    - if: '$CI_COMMIT_BRANCH == "main"'
      changes:
        - apps/api/**/*
        - package.json
    - when: never
  needs: ["overbookd-api_docker_build", "overbookd-api_scan"]
  variables:
    APP_PATH: apps/api
    APP_NAME: api
    VERSION_TAG_PREFIX: "pre-prod_"
    TAG: "pre-prod"
    BASE_IMAGE: "api"

preprod_overbookd-web_publish:
  extends: .docker-publish
  rules:
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
      when: never
    - if: '$CI_PIPELINE_SOURCE == "web" && $RELEASE'
      when: never
    - if: '$CI_COMMIT_BRANCH == "main"'
      changes:
        - apps/web/**/*
        - package.json
    - when: never
  needs: ["overbookd-web_docker_build", "overbookd-web_scan"]
  variables:
    APP_PATH: apps/web
    APP_NAME: web
    VERSION_TAG_PREFIX: "pre-prod_"
    TAG: "pre-prod"
    BASE_IMAGE: "web_pre-prod"

prod_overbookd-api_publish:
  extends: .docker-publish
  rules:
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
      when: never
    - if: '$CI_COMMIT_TAG =~ /^v[0-9]+\.[0-9]+\.[0-9]+$/'
    - when: never
  needs: ["overbookd-api_docker_build", "overbookd-api_scan"]
  variables:
    APP_PATH: apps/api
    APP_NAME: api
    VERSION_TAG_PREFIX: ""
    TAG: "latest"
    BASE_IMAGE: api

prod_overbookd-web_publish:
  extends: .docker-publish
  rules:
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
      when: never
    - if: '$CI_COMMIT_TAG =~ /^v[0-9]+\.[0-9]+\.[0-9]+$/'
    - when: never
  needs: ["overbookd-web_docker_build", "overbookd-web_scan"]
  variables:
    APP_PATH: apps/web
    APP_NAME: web
    VERSION_TAG_PREFIX: ""
    TAG: "latest"
    BASE_IMAGE: "web_prod"
