install:
  extends: .setup-pnpm
  stage: install
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      changes:
        - apps/**/*
        - libraries/**/*
        - domains/**/*
        - pnpm-lock.yaml
    - when: never
  script:
    - pnpm i
  artifacts:
    paths:
      - .pnpm-store
      - pnpm-lock.yaml
      - node_modules
    expire_in: 1 hour
