include:
  - local: /.gitlab/ci/setup-pnpm.gitlab-ci.yml
  - local: /.gitlab/ci/setup-git.gitlab-ci.yml

overbookd/release:
  stage: release
  image: node:24.13.1-alpine
  rules:
    - if: '$CI_PIPELINE_SOURCE == "web" && $RELEASE'
    - when: never
  variables:
    GIT_AUTHOR_NAME: 24-bot
    GIT_AUTHOR_EMAIL: dsi@24heures.org
    GIT_COMMITTER_NAME: 24-bot
    GIT_COMMITTER_EMAIL: dsi@24heures.org
    GITLAB_TOKEN: $GITLAB_API_TOKEN
  before_script:
    - !reference [.setup-git, script]
    - !reference [.setup-pnpm, before_script]
    - pnpm install
  script:
    - git checkout -b main ssh_origin/main
    - npx semantic-release
