.setup-pnpm:
  image: node:24.11.1-alpine
  interruptible: true
  before_script:
    - apk add --no-cache openssl
    - npm install -g pnpm@10.27.0
    - pnpm config set store-dir .pnpm-store
    - pnpm --version
