.setup-pnpm:
  image: node:24.13.0-alpine
  interruptible: true
  before_script:
    - apk add --no-cache openssl
    - npm install -g pnpm@10.30.1
    - pnpm config set store-dir .pnpm-store
    - pnpm --version
