.test:
  extends: .setup-pnpm
  stage: test
  interruptible: true
  image: node:20.10.0-alpine
  script:
    - pnpm i
    - pnpm --filter "${PNPM_WORKSPACE}^..." run build
    - pnpm --filter "${PNPM_WORKSPACE}" run test:unit:ci

overbookd/api_unit_test:
  extends: .test
  needs: [install]
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      changes:
        - apps/api/**/*
        - pnpm-lock.yaml
    - when: never
  variables:
    PNPM_WORKSPACE: "@overbookd/api"
  artifacts:
    when: always
    reports:
      junit: apps/api/junit.xml
      coverage_report:
        coverage_format: cobertura
        path: apps/api/coverage/cobertura-coverage.xml

overbookd/api_e2e_test:
  services:
    - name: postgres:15
      alias: integration-tests-prisma
  variables:
    POSTGRES_USER: prisma
    POSTGRES_PASSWORD: password
    POSTGRES_DB: tests
    DATABASE_URL: postgresql://prisma:password@integration-tests-prisma:5432/tests
    PNPM_WORKSPACE: "@overbookd/api"
  extends: .test
  needs: [install]
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      changes:
        - apps/api/**/*
        - pnpm-lock.yaml
    - when: never
  script:
    - pnpm i
    - pnpm --filter "${PNPM_WORKSPACE}^..." run build
    - pnpm --filter "${PNPM_WORKSPACE}" run database:init
    - pnpm --filter "${PNPM_WORKSPACE}" run test:e2e:ci
  artifacts:
    when: always
    reports:
      junit: apps/api/junit.xml

overbookd/web_unit_test:
  extends: .test
  needs: [install]
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      changes:
        - apps/web/**/*
        - pnpm-lock.yaml
    - when: never
  variables:
    PNPM_WORKSPACE: "@overbookd/web"
  artifacts:
    when: always
    reports:
      junit: apps/web/junit.xml
      coverage_report:
        coverage_format: cobertura
        path: apps/web/coverage/cobertura-coverage.xml

overbookd/libraries_unit_test:
  extends: .test
  needs: [install, overbookd/libraries_build]
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      changes:
        - libraries/**/*
        - pnpm-lock.yaml
    - when: never
  variables:
    PNPM_WORKSPACE: "{libraries/**}"
  artifacts:
    when: always
    reports:
      junit: libraries/*/junit.xml

overbookd/domains_unit_test:
  extends: .test
  needs: [install, overbookd/domains_build]
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      changes:
        - domains/**/*
        - pnpm-lock.yaml
    - when: never
  variables:
    PNPM_WORKSPACE: "{domains/**}"
  artifacts:
    when: always
    reports:
      junit: domains/*/junit.xml
